*.class

# Package Files #
*.jar
*.war
*.ear
/dist/
/store/
/build/
/build/classes/
/target/

# IDE Settings #
/nbproject/
/nbproject/private/
.classpath
.settings/
.project
/bin/

# OS Meta Files #
.DS_Store

# ZKN backups #
*.zkb3

# Gradle task artifacts & build results
.gradle/
build/
target/
*.iml

